<!-- Grid container -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2 class="mb-3">
        <p class="fw-bolder text-white font-monospace">Follow Me!</p>
      </h2>
    </div>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Github -->
      <a class="btn btn-dark m-1" href="https://github.com/neeraj-395" role="button">
        <img src="/assets/img/github.svg" height="86" width="86">
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3 font-monospace" style="background-color: rgba(0, 0, 0, 0.2);">
  Copyright© 2024 All rights reserved - Notes Archive
</div>
<!-- Copyright -->