html,body {
	height: 100%;
}

body.authentication {
	background-color: #f7f9fb;
	font-size: 14px;
}

.authentication .brand {
	width: 245px;
	height: 60px;
	margin: 40px auto;
	position: relative;
	z-index: 1;
}

.authentication .brand img {
	width: 100%;
}

.authentication .card-wrapper {
	width: 400px;
}

.authentication .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.authentication .card.fat {
	padding: 10px;
}

.authentication .card .card-title {
	margin-bottom: 30px;
}

.authentication .form-control {
	border-width: 2.3px;
}

.authentication .form-group label {
	width: 100%;
}

.authentication .btn.btn-block {
	padding: 12px 10px;
}

.authentication .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.authentication .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.authentication .card.fat {
		padding: 0;
	}

	.authentication .card.fat .card-body {
		padding: 15px;
	}
}


/* ------------------------ SPINNER -----------------------------*/

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
