@import url(spinner.inc.css);

html,body {
	height: 100%;
}

body.authentication {
	background-color: #f7f9fb;
	font-size: 14px;
}

.authentication .brand {
	width: 245px;
	height: 60px;
	margin: 40px auto;
	position: relative;
	z-index: 1;
}

.authentication .brand img {
	width: 100%;
}

.authentication .card-wrapper {
	width: 400px;
}

.authentication .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.authentication .card.fat {
	padding: 10px;
}

.authentication .card .card-title {
	margin-bottom: 30px;
}

.authentication .form-control {
	border-width: 2.3px;
}

.authentication .form-group label {
	width: 100%;
}

.authentication .btn.btn-block {
	padding: 12px 10px;
}

.authentication .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.authentication .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.authentication .card.fat {
		padding: 0;
	}

	.authentication .card.fat .card-body {
		padding: 15px;
	}
}